@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
// @import '../public/Courgette-Regular.ttf'

// colour variables ----------------------------
$red: rgb(128, 46, 53);
$lightPurple: rgb(178, 131, 206);
$highlighterPurple: rgb(208, 150, 242);
$whiteIsh: #d1d1d1;
$colinGrey: #aba4a4;
$speechBubbleGrey: #d2c8c8;
$darkPurple: #401043;

// grandparent styling--------------------------
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
html{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  height:100%;
}

body{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  height:100%;
  padding-top:7rem;
  background-image: url("../public/background.png");
  background-size: cover;

}
#app{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  height:100%;
}
.app-layout{ //this element is underneath the header and wraps hot-seat-mode
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  height:100%;
}

.hot-seat-mode{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  height:100%;
}


// universal styling ---------------------------------
.hidden{
  display:none;
}
img{
  max-width:100%;
  max-height:100%;
  height:auto;
  user-select:none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none; 
  -webkit-user-drag: none;
}
img:focus{
  outline:none;
}
button{
  display:flex;
  justify-content: center;
  align-items: center;
}

button{
  border-radius: 0.5rem;
  border: transparent solid 2pt;
  background-color: $lightPurple;
  }
  
  button:hover{
    background-color: $red;
    border: solid 2pt $whiteIsh;
    color: $whiteIsh;
  }

  button:disabled:hover {
    cursor: not-allowed;
    background-color: $lightPurple;
    color: $lightPurple;
    border: transparent solid 2pt;
  }
  
  button:active{
    border: solid 2pt black;
  }

  button p{
    font-size: 2rem;
    font-family:'Permanent Marker';
  }

a{
  text-decoration: none;
}

.hflex{
  display:flex;
}
.vflex{
  display:flex;
  flex-direction:column;
}

// header ---------------------------------
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.722);
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left:2rem;
  z-index: 20;
}

h1{
  font-family: Creepster;
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: 1rem;
  color: $whiteIsh;
}

// nav -----------------------------------

nav{
  position:absolute;
  top:0;
  right:0;
  height:7rem;
  display:flex;
  align-items:center;
  justify-content: center;
  margin-right:2rem;
}
.nav-button-div{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 11rem;
  margin:0.5rem;
}

nav button{
max-width:15rem;
height:5rem;
border-radius: 0.5rem;
border: transparent solid 2pt;
background-color: $lightPurple;
margin:0.5rem;
}

nav button:hover{
  background-color: $red;
  border: solid 2pt $whiteIsh;
  color: $whiteIsh;
}

nav button:active{
  border: solid 2pt black;
}


nav p{
  font-family:'Permanent Marker';
  font-size:2rem;
  padding:1rem;
  line-height: 1.6rem;
}

nav p:hover{
  font-size:2.1rem;
}

// Welcome ----------------------------------
.welcome-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
}

.colin-welcome{
  padding:2rem;
  display:flex;
  justify-content: center;
  align-items: center;
  height:60%;
  width:80%;
}

.colin-welcome img{
  border-radius: 50%;
  border: solid $lightPurple 1rem;
}

.colin-welcome .welcome-bubble{
  margin-left:2rem;
  height:100%;
  display: flex;
  align-items: center;

}

.welcome-bubble div{
  background-color: $speechBubbleGrey;
  display:flex;
  justify-content: center;
  align-items: center;
  width:auto;
  border-radius:3rem;
}

.welcome-bubble h2{
  color: black;
  font-family: 'Permanent Marker';
  font-size: 3rem;
  line-height: 3rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  font-weight: 200;
  padding:2rem;
}

.nicknames-welcome{
  padding:2rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}

.labels{
  display:flex;
  background-color: $darkPurple;
  color:$whiteIsh;
  border: 0.5rem solid black;
}

label{
  margin:1rem 2rem;
}
label h3{
  margin:2rem;
  font-family:'Permanent Marker';
  font-size:2rem;
  line-height: 1.6rem;
  font-weight:200;
}

input{
  font-family: 'Patrick Hand';
  font-size: 2rem;
  line-height:2rem;
  width:10rem;
  padding: 0.5rem;
}

.welcome-container button{
  padding: 0.5rem;
  margin:0.5rem;
}

// play-------------------------------
.play-hot-seat{
  display:flex;
  height:100%;
  width:100%;
}

// drawing zone ----------------------------------

.drawing-zone{
  padding-top:3rem;
  flex: 0 0 680px; 
  display:flex;
  align-items: start;
  height:100%;
  width:680px;
}

.canvas{
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:680px;
}
.done-frame{
  position:absolute;
  top:0;
  left:0px;
  z-index:2;
  width:680px;
  height:680px;
}

.canvas-container{
  position: relative;
  top:7px;
  left:0;
  z-index:1;
}

.question-top{
  position: absolute;
  height: 230px;
  width: 500px;
}
.question-bottom{
  position:absolute;
  height: 250px;
  width: 500px;
  top: 250px;
}

.canvas-container:hover{
  border:$lightPurple solid 5pt;
}

// controls-------------------------------------------

.controls{
  flex: 0 0 400px; 
  display:flex;
  flex-direction: column;
  height:100%;
  width:400px;
  padding:2rem;


}

.colour-controls{
  position: relative;
  z-index:1;
  width:100%;
  height:100%;
  max-height:550px;
  min-height:400px;
  // Remove to undo changes to background image
  background-image: url("../public/toolbar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.button-and-form-controls{
  height:100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.button-and-form-controls button{
  margin:0.5rem;
  padding:0.4rem;
}

button.save-monster{
  background-color: $highlighterPurple;
}
button.save-monster:hover{
  background-color: $darkPurple;
}

button.download{
  color:rgba(0, 0, 0, 0.519);
}

.button-and-form-controls div{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.controls-img{
  position:absolute;
  padding:1rem;
  z-index:0;
  width:100%;
  height:100%;
}

.colours{
  position:absolute;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:15%;
  left:8.5%;
  width:80%;

}

.colours img{
  width:100%;
  height:190%;
  max-height:none;
  overflow: hidden; 
}


.pencil-crop{
  height:2.5rem;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.controls label h3{
  margin:0.5rem;
  text-align: center;
  padding-bottom: 0.5rem;
}
.controls form{
  margin:0.5rem;
}

.controls input{
  width: 100%;
}

.controls label{
  display:flex;
  align-items: center;
}

.brush-size-container{
border: 3px solid black;
background: $lightPurple;
border-radius: 30px / 30px;
padding: 5px;
align-items: center;
justify-content: center;
margin-top: 20px;
}

.small-brush{
height: 20px;
width: 20px;
border-radius: 50%;
border: 3px solid black;
margin: 10px;
margin-left: 15px;
background: #401043;

}

.small-brush p{
  font-size:medium;
}

.medium-brush{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 10px;
  border: 3px solid black;
margin: 10px;
margin-left: 15px;
background: #401043;
  }

.medium-brush p{
  font-size: medium;
}

.large-brush{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px;
  margin-right: 15px;
  border: 3px solid black;
margin: 10px;
margin-left: 15px;
background: #401043;
  }

.large-brush p{
  font-size: medium;
}



// colin------------------------------------------------

.colin {
   flex: 1;
  display: flex;
  height:100%;
  position: relative;
}

.colin img{
  margin-top: auto;
  max-height:80%;
  max-width:80%;
}

.speech-bubble{
  position: absolute;
  margin:8% ;
  background-color: $speechBubbleGrey;
  color: black;
  padding:1rem;
  border-radius: 1rem;
  min-height: 42%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.speech-bubble p{
  font-family:'Permanent Marker';
  text-align: center;
  margin:0;
  font-size: 2rem;
}
.speech-bubble em{
  text-align: center;
  margin:0;
  font-size: 1.5rem;
}

// menagerie ------------------------------

.menagerie{
  display:flex;
  flex-wrap: wrap;
  height:100%;
  justify-content: center;
  align-items: center;
  padding:3rem 2rem;
}

.menagerie-item{
  position:relative;
  display:flex;
  flex-direction: column;
  margin:1rem;
  margin-bottom: 3rem;
  width: 20rem;
}

.menagerie .frame{
margin-top:-18rem;
margin-left:-2rem;
}

img.monster{
  width:15.5rem;
}

.menagerie-item h4{
 
  font-size:2.5rem;
  color:black;
  font-family: 'Beau Rivage';
}

.plaque{
  display:flex;
  width: 14rem;
  justify-content: center;
  position:absolute;
  left: 1rem;
  bottom: 3.5rem;
}

// single-monster view -----------------------------

.single-monster-view{
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
}

.single-view-spacer{
  flex:1;
  width:20%;
}

.single-view-top{
  height:85%;
  display:flex;
  padding:2rem;
  width:100%;
}
.single-view-bottom{
  height:30%;
  width:100%;
  padding:0 2rem 2rem 2rem;

  display:flex;
  justify-content: center;
}
.single-view-monster-window{
  flex:0 0 60%;
  display:flex;
  justify-content: center;
  align-content: start;
}


.single-view-delete{
  flex:1;
  width:20%;
  display: flex;
  align-content: center;
}
.creater-details{
  font-family: 'Beau Rivage';
  background-color: $colinGrey;
  border: 0.2rem solid black;
  display:flex;
  min-height:2rem;
  align-items: center;
  padding:1rem;
  height:fit-content;
  border-radius: 1rem;
}

.creater-details h3{
  font-size: 2rem;
  letter-spacing:0.1rem;
}

.creater-details h2{
  font-family: 'Patrick Hand';
  font-size: 3rem;
}

.creater-details h2{
  margin:0 1rem;
}
.frame-relative{
  position:relative;
  display:flex;
  justify-content: center;
}
.details-frame-img{
  position:absolute;
}
img.monster-detail{
  padding:29% 10% 12% 10%;
}

.single-view-delete{
  display:flex;
  justify-content: left;
  align-items: center;
}

.delete-button button{
  background-color: $red;
  padding:1rem;
}

.delete-button button p{
  font-size:1rem;
}

.delete-button button p:hover{
  font-size:1.5rem;
  transition: font-size 0.3s;
}

.absolute-div-monster-name{
  position: absolute;
  z-index: 20;
  top:14%;
  font-family:'Beau Rivage';
  font-weight:200;
  font-size:200%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.absolute-div-monster-name h2{
padding-right: 2rem;
}

.popup{
  position:absolute;
  right: 70%;
  top:10%;
  z-index:21;
  padding:1rem;
  background: $colinGrey;
  border: solid 0.5rem black;
}

.popup p{
  font-size: 1rem;
  font-family:'Permanent Marker';
  margin:0.5rem;
}

.popup button{
  margin: 0.5rem;
}


button{
  display:flex;
  justify-content: center;
  align-items: center;
}

.absolute-div-monster-name button p{
font-size:1rem;
padding:0.3rem;
}

.absolute-div-monster-name button{
  height:2rem;
  margin:0.5rem;
  }


@media only screen and (max-width:1360px){
  header{
    justify-content: left;
  }
  .colin-welcome{
    width:100%;
  }
  .welcome-bubble h2{
    font-size: 2.5rem;
  }
}

@media only screen and (max-width:1000px){
  html{
    font-size:12px;
  }
}

@media only screen and (max-width:750px){
 h1{
  font-size: 2.5rem;
  max-width: 10rem;
 }
 nav p{
  font-size: 1.8rem;
 }
}

// Noah's stuff ----------------------------

.pencil-crop img:hover {
  animation: rock2 1s ease-in-out infinite; /* Adjust the duration and timing function as needed */
  transform-origin: center; /* Set the transform origin to the center of the element */
}

.pencil-crop img:active {
  animation:none
}

.menagerie-item:hover {
  animation: rock1 1s ease-in-out infinite; /* Adjust the duration and timing function as needed */
  transform-origin: center; /* Set the transform origin to the center of the element */
}

// Animations ------------------------------

@keyframes rock1 {
  0%, 100% {
    transform: rotateZ(0deg);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  25% {
    transform: rotateZ(-5deg);
  }
  75% {
    transform: rotateZ(5deg);
  }
}

@keyframes rock2 {
  0%, 100% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(-10deg);
  }
  40% {
    transform: rotateZ(10deg);
  }
  60% {
    transform: rotateZ(-10deg);
  }
  80% {
    transform: rotateZ(10deg);
  }
}
