@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
// @import '../public/Courgette-Regular.ttf'

// Colour Variables
$red: rgb(128, 46, 53);
$lightPurple: rgb(178, 131, 206);
$whiteIsh: #d1d1d1;

*{
  box-sizing: border-box;
}




html, 
body {
  margin:0;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
  display:flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.507);
  height: 6rem;
}

nav{
  position: absolute;
  top:0;
  right:0;
  height: 6rem;
  align-items: center;
  justify-content: center;
  width: 20%;
  
}

nav button{
  height:4rem;
  margin: 0.5rem;
  border-radius: 0.5rem;;
  background-color: $lightPurple;
  border: transparent solid 2pt;
}

nav button:hover{
  background-color: $red;
  border: solid 2pt $whiteIsh;
}

.hflex{
display:flex; 
}
.vflex{
  display:flex;
  flex-direction: column;
}

h1{
  font-family: Creepster;
  font-size: 4rem;
  font-weight: 100;
  padding: 0.5rem;
  margin:0;
  letter-spacing: 1rem;
  color: $whiteIsh;
}

nav p{
  font-family:'Permanent Marker';
  font-size:2rem;
  margin:0 0.5rem;
}


//BASIC APP "FRAME" CSS
body {  
  background-image: url("../public/background.png");
  background-size: cover;
  font-family: 'agbalumo';
  color: $whiteIsh;
  background-repeat: no-repeat;
}

.header-box{
  display: flex;
  justify-content: center;
  width:100%;
}

.play-hot-seat {
  display: flex;
  justify-content: space-between;
  height:30rem;
}

.drawing-zone {
  border: solid 1px;
  border-color: rgb(1, 224, 240);
  width: 50%;
}

.controls{
  width: 25%;
  border: solid 1px;
  border-color: rgb(1, 224, 240);
}

.colin {
  display: flex;
  border: solid 1px;
  border-color: rgb(40, 69, 233);
  width: 25%;
}

.colin-image {
 margin-top: auto;
 width:90%;
}



// Canvas CSS
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

// button {
//   position: absolute;
//   top: 30px;
//   left: 30px;
//   font-size: 32px;
// }

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

